<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSsZpQk7BgsJxv3k-pQjSsIfX4JP2xm-4</string>
	<key>GCM_SENDER_ID</key>
	<string>240403369452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineQuiz</string>
	<key>PROJECT_ID</key>
	<string>online-quiz-8566e</string>
	<key>STORAGE_BUCKET</key>
	<string>online-quiz-8566e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240403369452:ios:26803fed490165418884c9</string>
</dict>
</plist>